body {
/*	font-family:"Trebuchet MS";*/
/*	font-family: 'Open Sans', sans-serif; */
	font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
	font-size:15px;
	/*padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.curHand {
	cursor:pointer;cursor:hand;
}

.redColor {
    color: #D43400;
}

.circle-text {
	width:25%;
	padding: 1px;
	
}
.circle-text:after {
	content: "";
	display: block;
	width: 100%;
	height:0;
	padding-bottom: 100%;
	background: #D43400;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.circle-text div {
	float:left;
	width:100%;
	padding-top:50%;
	line-height:1em;
	margin-top:-0.5em;
	text-align:center;
	color:white;
	cursor: pointer;
	cursor: hand;
	font-weight:1px;
}

.rectangle-box{
    position: relative;
    width: 45%;
    overflow: hidden;
    background: #D43400;
	cursor:pointer;
	cursor:hand;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.rectangle-box:before{
    content: "";
    display: block;
    padding-top: 50%;
}
.rectangle-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
	font-weight: bold;
	   
}
.rectangle-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}